Abrir um arquivo .txt

In [ ]:
# Abrindo o arquivo para leitura
arq1 = open("arquivos/arquivo1.txt","r")

Ler um arquivo .txt

In [ ]:
# lendo o arquivo
# arquivo vazio;
print(arq1.read())

In [ ]:
#Contar os caracteres
print(arq1.tell())

In [ ]:
# Retornar para o iníco do arquivo
print(arq1.seek(0,0))

In [ ]:
# Ler os primeiros 10 caracteres
print(arq1.read(10))

#Gravando Arquivos

In [ ]:
# quando abrimos arquivos para gravação, não é possivel abrir como leitura.
# opção "w"

arq1 = open("arquivos/arquivo1.txt","w")

In [ ]:
# Gravar no arquivo o texto;
arq1.write("1- Testando o insuportavel calor e abafado!")

In [ ]:
# Fechando o arquivo; 
arq1.close()

In [ ]:
# agora sim, abrir o arquivo gravado;
# opção "r"

arq1 = open("arquivos/arquivo1.txt","r")

In [ ]:
# Ler o arquivo;
print(arq1.read())

Acrescentando conteudo!!

In [ ]:
# para acrescentar conteudo, colocar o "a" no final
# abrir o arq1 e gravar outra msg;

arq2 = open("arquivos/arquivo1.txt","a")

In [ ]:
# Gravar a nova msg;
arq2.write("\n2- Se eu pudesse, estaria na praia!!")

In [ ]:
# Fchar o arquivo;
arq2.close()

In [ ]:
# Abrir o arquivo p leitura;
arq2 = open("arquivos/arquivo1.txt","r")

In [ ]:
#ler o arquivo;
print(arq2.read())

AUTOMATIZANDO PROCESSOS DE GRAVAÇÃO!

In [ ]:
# Declarar o objeto para receber o nome do arquivo;
# o arquivo fica gravado no diretorio /notebook
newfile = input("Digite o nome do arquivo novo e aperte ENTER: ")

In [ ]:
# Concatenar o novo arquivo com a extensão .txt
newfile = newfile + ".txt"

In [ ]:
# Declara um novo objeto para receber abrir o arquivo
# abrir o arquivo;
arq3 = open(newfile,"w")

In [ ]:
# Gravar no arquivo;
arq3.write(" Gravando uma nova mensagem de teste!")

In [ ]:
# fechando o arquivo;
arq3.close()

In [ ]:
# abrindo o novo arquivo pARA leitura;
arq3 = open(newfile,"r")

In [ ]:
# lendo o arquivo;
print(arq3.read())

In [ ]:
# fechando o arquivo;
arq3.close()

Abrindo um dataset em uma única linha

In [ ]:
# abrindo arquivo salarios.csv;
# caminho: arquivos/salarios.csv;
# declara um objeto para receber o arquivo csv;

f = open('arquivos/salarios.csv','r')

In [ ]:
# declara um objeto para fazer a leitura do arquivo;
data = f.read()

In [ ]:
# utilizar o split() para dividir o arquivo em algum criterio;
# \n --> teclado ENTER
rows = data.split(',')

In [ ]:
# mostrar a saida do arquivo;
print(rows)

# DIVIDINDO UM DATASET EM COLUNAS;

In [ ]:
# declara o objeto 'f' para abrir o arquivo;
f = open('arquivos/salarios.csv','r')

In [ ]:
# declarar o objeto 'data' para ler o arquivo;
data = f.read()

In [ ]:
# declarando outro objeto 'rows' para receber o split('\n')
rows = data.split('\n')

In [ ]:
# criando uma lista vazia;
full_data = []

In [ ]:
# criando o loop for para percorrer cada linha 
#1- criamos o split('\n') para quebrar a linha por ENTER.
#2- Agora, dividir cada linha com criterio de split(',') virgula;
# a lista full_data vai receber o novo parametro.

for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)

In [ ]:
print(full_data)

# Contando as linhas de um arquivo

In [2]:
f = open('arquivos/salarios.csv', 'r')
data = f.read()
rows = data.split('\n')
full_data = []

In [3]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)

In [4]:
count = 0
for row in full_data:
    count += 1   # Equivalente a: count = count + 1

In [5]:
print(count)

32184

# Contando o número de colunas de um arquivo

In [6]:
f = open('arquivos/salarios.csv', 'r')
data = f.read()
rows = data.split('\n')
full_data = []

In [7]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)
    first_row = full_data[0]
count = 0

In [8]:
for column in first_row:
    count = count + 1
    
# Outra solução possível
# for column in full_data[0]:
#     count = count + 1

In [9]:
print(count)

4

# Importando um dataset com Pandas

- Manipulação de arquivos;

In [10]:
#1- Importar o pandas;
import pandas as pd

In [11]:
# declarar o objeto para receber o arquivo;
filename = "arquivos/binary.csv"

In [12]:
# declara o objeto 'df' para fazer a leitura do arquivo.
df = pd.read_csv(filename)

In [13]:
#imprimir as primeiras linhas;
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

# carregar um dataset com mais dados;

In [14]:
file2 = "arquivos/salarios.csv"

In [15]:
df2 = pd.read_csv(file2)

In [22]:
df2.head(500)

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00
...,...,...,...,...
495,"ALLISON, JACOB M",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,$92248.00
496,"ALLISON, JOHN L",ANIMAL CONTROL OFFICER,ANIMAL CONTRL,$58476.00
497,"ALLISON, PAUL W",FIREFIGHTER,FIRE,$86520.00
498,"ALMAGUER, DAVID J",MOTOR TRUCK DRIVER,AVIATION,$71780.80
499,"ALMAGUER, PHILIP",POLICE OFFICER,POLICE,$46206.00